.header{
    background-color: #333;
    color:white;
    padding:10px 20px;
}

ul{
    list-style-type: none;
    margin:0;
    padding:0;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    
}


